@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
    --text-color: #575757;
    --text-important: #c80101;
    --animate-aurora: aurora 60s linear infinite;
    --text-basic: rgb(130, 128, 128);
    --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
    --font-product: 'Tenor Sans', 'Geist', sans-serif;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes aurora {
  from {
    background-position:
      50% 50%,
      50% 50%;
  }
  to {
    background-position:
      350% 50%,
      350% 50%;
  }
}

@keyframes bloom {
  0% { opacity: 0.2; }
  50% { opacity: 0.8; }
  100% { opacity: 0.2; }
}

@keyframes rotatePetal {
  0% { transform: rotate(0deg); }
  3.125% { transform: rotate(22.5deg); }
  6.25% { transform: rotate(45deg); }
  9.375% { transform: rotate(67.5deg); }
  12.5% { transform: rotate(45deg); }
  15.625% { transform: rotate(90deg); }
  18.75% { transform: rotate(112.5deg); }
  21.875% { transform: rotate(135deg); }
  22.5% { transform: rotate(180deg); }
  25% { transform: rotate(90deg); }
  28.125% { transform: rotate(45deg); }
  31.25% { transform: rotate(22.5deg); }
  34.375% { transform: rotate(0deg); }
  36.25% { transform: rotate(22.5deg); }
  37.5% { transform: rotate(135deg); }
  40.625% { transform: rotate(157.5deg); }
  43.75% { transform: rotate(180deg); }
  46.875% { transform: rotate(202.5deg); }
  48.75% { transform: rotate(225deg); }
  50% { transform: rotate(180deg); }
  53.125% { transform: rotate(157.5deg); }
  56.25% { transform: rotate(135deg); }
  59.375% { transform: rotate(112.5deg); }
  60% { transform: rotate(90deg); }
  62.5% { transform: rotate(225deg); }
  65% { transform: rotate(270deg); }
  67.5% { transform: rotate(292.5deg); }
  70% { transform: rotate(315deg); }
  72.5% { transform: rotate(337.5deg); }
  75% { transform: rotate(270deg); }
  77.5% { transform: rotate(247.5deg); }
  80% { transform: rotate(225deg); }
  82.5% { transform: rotate(202.5deg); }
  85% { transform: rotate(180deg); }
  87.5% { transform: rotate(315deg); }
  90% { transform: rotate(292.5deg); }
  92.5% { transform: rotate(270deg); }
  95% { transform: rotate(247.5deg); }
  97.5% { transform: rotate(225deg); }
  98.75% { transform: rotate(202.5deg); }
  100% { transform: rotate(360deg); }
}

@layer utilities {
  .custom {
    color: var(--text-color);
    background-color: transparent;
  }

  .important {
    color: var(--text-important)
  }

  .content {
    background-color: var(--foreground);
    color: var(--text-color);
  }

  .color-theme {
    background-color: #b756a64f;
    color: var(--text-basic)
  }

  .color-tooltip {
    background-color: #b756a54f;
    color: rgb(108, 107, 107);
  }

  .button {
    border: 2px;
    border-color: #b756a5;
  }

  .aurora {
    animation: aurora 10s infinite alternate;
    background: radial-gradient(circle, #e5a5de74, #e7e7e7),
      radial-gradient(circle, #ff7eb43e, #fafafa);
    background-size: 200% 200%;

  }

  .scroll-container {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
  }

  .scroll-content {
    display: inline-flex;
    gap: 2rem;
    animation: scroll var(--animation-duration, 30s) var(--animation-direction, forwards) linear infinite;
  }

  .zoom-effect {
    transition: transform 0.3s ease-in-out;
  }

  .zoom-effect:hover {
    transform: scale(1.05);
  }

  .flower-loader {
    display: flex;
    position: absolute;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fdf6f0;
  }

  .flower {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: #ffcc00;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    animation: bloom 2s ease-in-out infinite;
  }

  .petal {
    position: absolute;
    left: 37%;
    width: 40px;
    height: 40px;
    visibility: hidden;
    background: linear-gradient(to bottom, #ff7eb4, #ff77e689);
    border-radius: 50% 50% 0 0;
    transform-origin: bottom center;
    animation: bloom 2s ease-in-out infinite;
  }

  .petal::before {
    content: '';
    position: absolute;
    visibility: visible;
    width: 50px;
    height: 100px;
    background: linear-gradient(to bottom, #ff7eb4, #ff77e689);
    border-radius: 50% 50% 0 0;
    transform-origin: bottom center;
    transform: rotate(180deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }

  .petal:nth-child(0)::before {
    transform: rotate(0deg);
    animation-delay: 0s;
  }

  .petal:nth-child(1)::before {
    transform: rotate(24deg);
    animation-delay: 0.1s;
  }

  .petal:nth-child(2)::before {
    transform: rotate(48deg);
    animation-delay: 0.2s;
  }

  .petal:nth-child(3)::before {
    transform: rotate(72deg);
    animation-delay: 0.3s;
  }

  .petal:nth-child(4)::before {
    transform: rotate(96deg);
    animation-delay: 0.4s;
  }

  .petal:nth-child(5)::before {
    transform: rotate(120deg);
    animation-delay: 0.5s;
  }

  .petal:nth-child(6)::before {
    transform: rotate(144deg);
    animation-delay: 0.6s;
  }

  .petal:nth-child(7)::before {
    transform: rotate(168deg);
    animation-delay: 0.7s;
  }

  .petal:nth-child(8)::before {
    transform: rotate(192deg);
    animation-delay: 0.8s;
  }

  .petal:nth-child(9)::before {
    transform: rotate(216deg);
    animation-delay: 0.9s;
  }

  .petal:nth-child(10)::before {
    transform: rotate(240deg);
    animation-delay: 1s;
  }

  .petal:nth-child(11)::before {
    transform: rotate(264deg);
    animation-delay: 1.1s;
  }

  .petal:nth-child(12)::before {
    transform: rotate(288deg);
    animation-delay: 1.2s;
  }

  .petal:nth-child(13)::before {
    transform: rotate(312deg);
    animation-delay: 1.3s;
  }

  .petal:nth-child(14)::before {
    transform: rotate(336deg);
    animation-delay: 1.4s;
  }

  .petal:nth-child(15)::before {
    transform: rotate(360deg);
    animation-delay: 1.5s;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

